<!DOCTYPE html>

<head>
  <title>Add Bus</title>
</head>

<body>
  <h1>Add BUS</h1>
  <form>
    <input type="text" name="busName" placeholder="Bus Name" />
    <input type="text" name="busNumber" placeholder="Bus Number" />
    <input type="text" name="busType" placeholder="Bus Type" />
    <input type="text" name="busCapacity" placeholder="Bus Capacity" />
    <input type="text" name="busPrice" placeholder="Bus Price" />
    <input type="text" name="busSource" placeholder="Bus Source" />
    <input type="text" name="busDestination" placeholder="Bus Destination" />
    <input type="text" name="busDeparture" placeholder="Bus Departure" />
    <input type="text" name="busArrival" placeholder="Bus Arrival" />
    <input type="text" name="busDate" placeholder="Bus Date" />
    <input type="submit" value="Add Bus" />
  </form>
</body>
